<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project | Home</title>
    <link rel="stylesheet" href="../dist/css/index.css">
</head>
<body>
    <div class="warning"><label>information- this site is still in development phase, but you can use it officially and All Rights Reserved &copy;counterbox 2022...</label></div>
    <section class="mainhead">
        <div>
            <h1>counterbox.com</h1>
            <p>Count your word and character for social media...</p>
        </div>
        <div>
            <div>
                <input type="submit" value="copy" style="float:left;padding:0 2% 0 2%" onclick="copyData()">
                <textarea rows="15" id="textBox" event></textarea><br>
            </div>
            <div class="outbox">
                <input type="submit" value="click here" onclick="outcome()">
            </div>
        </div>
    </section>  
    <script src="../dist/js/index.js"></script>
</body>
</html>